/* *************************/
/* COLOR */
/* *************************/


/* *************************/
/* GENERIC */
/* *************************/

body {
    background-color: gray;
}

header {
    background-color: white;
    height: 120px;
    margin-bottom: 40px;
}


/* *************************/
/* Main */
/* *************************/

#grid {


    width: 70vh;
    height: 70vh;
    flex-wrap: wrap;
    display: flex;
    margin: 10px 0;
}

#grid .cella {
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#grid .cella.clicked {

    cursor: not-allowed;
}


.bomb {
    background-color: red;
}

.nobomb {
    background-color: lightseagreen;
}